@import url(https://fonts.googleapis.com/css?family=Oswald:400);


$themeCol1: #ebff33;


html, body, .wrapper { height: 100%; }
body {
  background: url(https://img.freepik.com/premium-vector/sea-background-video-conferencing_23-2148631702.jpg?w=2000) 50% 50% no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.wrapper {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://img.freepik.com/premium-vector/sea-background-video-conferencing_23-2148631702.jpg?w=2000);
  }
}
.inner {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin: -21px 0 0 -116px;
  //display: flex;

}
.button {
  position: relative;
  display: block;
  width: 260px;
  height: 42px;
  color: white;
  font-size: 22px;
  line-height: 200%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  //margin-bottom: 80px;
  margin-bottom: 1rem;

  & span {

    position: absolute;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    z-index: 1;
  }
  & .border {
    border: 1px solid $themeCol1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
  }
  & .top, & .bottom, & .left, & .right {
    background-color: $themeCol1;
    height: 1px;
    width: 0;
  }
  & .left, & .right { height: 0; width: 1px; }
  & .top {
    top: -5px;
    left: -15px;
  }
  & .bottom {
    bottom: -5px;
    right: -15px;
  }
  & .left {
    top: -15px;
    right: -5px;
  }
  & .right {
    bottom: -15px;
    left: -5px;
  }
  &:hover {
    color: #fff;
    & .border {
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
    }
    & .top, & .bottom { width: 230px; }
    & .left, & .right { height: 40px; }
    & .top { left: -5px; }
    & .bottom { right: -5px; }
    & .left { top: -5px; }
    & .right { bottom: -5px; }
  }
  & .text {
    position: relative;
    letter-spacing: .03em;
  }
}